In [2]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# import the api key
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Norman Wells,CA,2021-11-07 20:42:18,65.2820,-126.8329,14.04,85,90,14.97
1,1,Rikitea,PF,2021-11-07 20:43:40,-23.1203,-134.9692,75.67,80,100,15.93
2,2,Atuona,PF,2021-11-07 20:43:33,-9.8000,-139.0333,78.17,77,4,15.86
3,3,Talnakh,RU,2021-11-07 20:43:41,69.4865,88.3972,24.17,97,100,5.66
4,4,Itarema,BR,2021-11-07 20:43:42,-2.9248,-39.9167,80.60,76,81,14.97

In [4]:
# get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2021-11-07 20:43:40,-23.1203,-134.9692,75.67,80,100,15.93
2,2,Atuona,PF,2021-11-07 20:43:33,-9.8000,-139.0333,78.17,77,4,15.86
4,4,Itarema,BR,2021-11-07 20:43:42,-2.9248,-39.9167,80.60,76,81,14.97
8,8,Dingle,PH,2021-11-07 20:43:45,10.9995,122.6711,77.18,92,57,7.31
18,18,Sinnamary,GF,2021-11-07 20:43:53,5.3833,-52.9500,80.85,79,90,11.61
19,19,Lompoc,US,2021-11-07 20:43:54,34.6391,-120.4579,78.01,54,1,12.66
22,22,Port Hedland,AU,2021-11-07 20:43:57,-20.3167,118.5667,75.25,73,40,11.50
29,29,Paita,PE,2021-11-07 20:44:04,-5.0892,-81.1144,75.76,77,68,18.77
30,30,Ugoofaaru,MV,2021-11-07 20:44:05,5.6667,73.0000,80.91,80,93,18.70
33,33,Kahului,US,2021-11-07 20:44:08,20.8947,-156.4700,84.22,70,20,16.11

In [35]:
preferred_cities_df.count()

City_ID       188
City          188
Country       186
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1        Rikitea      PF     75.67 -23.1203 -134.9692
2         Atuona      PF     78.17  -9.8000 -139.0333
4        Itarema      BR     80.60  -2.9248  -39.9167
8         Dingle      PH     77.18  10.9995  122.6711
18     Sinnamary      GF     80.85   5.3833  -52.9500
19        Lompoc      US     78.01  34.6391 -120.4579
22  Port Hedland      AU     75.25 -20.3167  118.5667
29         Paita      PE     75.76  -5.0892  -81.1144
30     Ugoofaaru      MV     80.91   5.6667   73.0000
33       Kahului      US     84.22  20.8947 -156.4700

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [54]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [44]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,75.67,-23.1203,-134.9692,People ThankYou
2,Atuona,PF,78.17,-9.8000,-139.0333,Villa Enata
4,Itarema,BR,80.60,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
8,Dingle,PH,77.18,10.9995,122.6711,SEGAYA PROPERTY
18,Sinnamary,GF,80.85,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [48]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))